.CFUserTextEncoding
.DS_Store
.anyconnect
.cisco/
.clojure/
.clojure_history
.clojure_history-62222.tmp
.dbshell
.eclipse/
.gitconfig
.lein/
.lesshst
.local/
.m2/
.mongorc.js
.mono/
.npm/
.oracle_jre_usage/
.p2/
.parsec/
.pylint.d/
.python_history
.ssh/
.tooling/
.vim/plugged/
.viminfo
.vscode/
.wdc/
.zcompdump
.zsh_history
Applications (Parallels)/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Parallels/
Pictures/
Public/
eclipse/
